<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <title>Admin Dashboard</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="mt-4">Admin Dashboard</h1>
    <p class="text-muted" th:text="${shortUrls.totalElements} + ' short URLs across all users'"></p>

    <div th:replace="~{fragments/url-table :: urlTable(${shortUrls}, ${baseUrl}, true, '/admin/delete-urls', true)}"></div>
    <div th:replace="~{fragments/pagination :: pager(${shortUrls}, ${paginationUrl})}"></div>
</div>
</body>
</html>
