<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <title>Page Not Found</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="mt-4">Page Not Found</h1>
    <p class="lead">We couldn't find that page. If you followed a short link, it may not exist,
        may have expired, or may be private.</p>
    <a class="btn btn-primary" th:href="@{/}">Back to Home</a>
</div>
</body>
</html>
