<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <title>URL Shortener Service</title>
</head>

<body>
<div layout:fragment="content">
    <div class="jumbotron bg-light p-5 rounded-3 my-4">
        <p class="lead">A simple URL shortener service. Create short and easy-to-share links!</p>
    </div>

    <!-- input Form-->
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title mb-0">Create a Short URL</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/short-urls}" method="post"
                  th:object="${createShortUrlForm}">
                <div class="mb-3">
                    <label for="originalUrl" class="form-label">Original URL</label>
                    <input type="text" class="form-control" id="originalUrl"
                           th:field="*{originalUrl}"
                           placeholder="https://example.com/my-long-url">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('originalUrl')}"
                         th:errors="*{originalUrl}"></div>

                    <!-- Conditional fields to show if these two fields-->
                    <div class="mb-3" sec:authorize="isAuthenticated()">
                        <label for="expirationInDays" class="form-label">Expiration (days)</label>
                        <input type="number" class="form-control" id="expirationInDays"
                               th:field="*{expirationInDays}"
                               min="1" max="365">
                        <div class="form-text">Leave empty to never expire</div>
                    </div>
                    <div class="mb-3 form-check" sec:authorize="isAuthenticated()">
                        <input type="checkbox" class="form-check-input" id="isPrivate" th:field="*{isPrivate}">
                        <label class="form-check-label" for="isPrivate">Private (only you can access)</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Shorten URL</button>
            </form>
        </div>
    </div>

    <h2 class="mt-5">Public Shortened URLs</h2>
    <div th:replace="~{fragments/url-table :: urlTable(${shortUrls}, ${baseUrl}, false, '', true, false)}"></div>
    <div th:replace="~{fragments/pagination :: pager(${shortUrls}, ${paginationUrl})}"></div>
</div>
</body>
</html>
